.App {
  text-align: center;
}

nav{
  background-color: #282c34;
  padding:5px;
  display: flex;
  justify-content: left;
  color: #fff;
  position: relative;
  border-radius: 5px;
  font-weight: bold;
  border-top-right-radius:0px;
  border-top-left-radius: 0px;
}
